:root{
    --primary-color: #dddf00;
  }
  
  * {
    margin: 1px 0px;
    padding: 1px 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  }
  
  .hints {
    text-align: center;
    padding: 1.4rem 0;
    background-color: whitesmoke;
    font-weight: 600;
  }
  mark {
    padding: .2rem  .7rem;
    border-radius: 4rem;
    background-color: gold;
  }
  
  .timeline-wrapper{
    /* position: relative; */
    width: 100vw;
    height: 400px;
    /* max-width:100vw;
    height: 88vh; */
  
    display:flex;
    justify-content: center;
    align-items: center;

    overflow-X: hidden;
  }
  
  .timeline{
    position: absolute;
    height: .12rem;
    padding: 0 4rem;
    background-color: #ffff3f ;
    list-style-type: none;
    
    --scale: 1;
    display: flex;
  }
  
  .timeline li {
    position:relative;
    width: 20rem;
  }
  
  .timeline li ::after,
  .timeline li ::before,
  .timeline li .title,
  .data {
    position:absolute;
    Left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    transition: .5s ease;
  }
  
  .timeline li ::after{
    /* content:""; */
    top: 5.3rem;
  
    display: inline-block;
    width: 0.12rem;
    height: 1rem;
    background-color: #888 ;
    z-index: 100;
  }
  
  .timeline li:nth-child(even) ::after {
    top: -3.7rem;
  }

  .timeline li:hover ::after{
    background-color: var(--primary-color) ;

  }

  .timeline li::before{
  position: absolute;
  content: attr(data-date);
  top: -6.4rem;
  left: 8rem;
  }

  .timeline li:nth-child(odd)::before{
    top: 3.4rem;
  }

   .timeline li:hover:before,
   .timeline li .title{
    color: var(--primary-color)
   }

  .timeline li:nth-child(odd) >.title {
    top: -3.4rem;
  }

.timeline li .title{
  top: 3.4rem;

  font: 600 1.1rem 'poppins', sans-serif;
  white-space: pre;

  opacity: 0;
}

.timeline li:hover .title {
  opacity: 1;
}

  .data {
    width: 1.3rem; 
    height: 1.3rem;
    background-color: #80b918;
    color: #fff;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
    transition: .3s ease;
  }

  .timeline li:hover .data{
    background-color: var(--primary-color);
    --scale: 1.2;
    cursor:pointer;
    z-index: 200;

  }

  .expandstyle{
    /* color: revert; */
    width: 22rem;
    height: 22rem;
    border-radius: 1rem;
    padding: 1rem;
    background-image: linear-gradient(45deg, #2b9348, #55a630);
    
    box-shadow: 0 .1rem .4rem #0004;
    
    z-index: 100;
  }


  .data h3 {
    text-transform: capitalize;
    margin-left: 1.3rem;
  }

  .data p {
    background-color:  #fff3;
    padding: 1rem ;
    border-radius:1rem ;
   
  }

  .data.show p{
    margin-left: 0;
  }

  .data .close{
    align-self: flex-start;
    background-color: #55a630;

    padding: .5rem .8rem;
    border-radius: 2rem;

    font-size: 1rem;
  }

  #historical{
    color:green;
  }

  .bVGPXe{
    position:relative;
    bottom:3vh
  }